= render 'shared/side_bar'
.main-contents
	.main-contents__top
		.main-contents__top__info
			%h1 sampleグループ
			%ul Member:
			%li Tanaka
			%li Sato
		.button.edit_button
			= link_to "Edit", "#"
	.main-contents__middle
		%ul.main-contents__middle__message
			%li
				%h2 name
				%h4 yy/mm/dd hh:mm:ss
				%p message
			%li
				%h2 name
				%h4 yy/mm/dd hh:mm:ss
				%p message
	.main-contents__bottom
		= form_for [@group, @message] do |f|
			= f.text_field :content, class: 'main-contents__bottom__form', placeholder: 'type a message'
			.icon
				= f.label :image, class: 'form__mask__image' do
					= fa_icon 'picture-o', class: 'fa-fw'
					= f.file_field :image, class: 'hidden'
			= f.submit 'Send', class: 'button', class: 'send_button'
