.side-contents
	.side-contents__top
		.side-contents__top__name
			%h2
				= current_user.name
		%ul.side-contents__top__lists
			%li.list
				= link_to new_group_path do
					= fa_icon 'pencil-square-o', class: 'icon'
			%li.list
				= link_to edit_user_path(current_user) do
					= fa_icon 'cog', class: 'icon'
	.side-contents__bottom
		- current_user.groups.each do |group|
			= link_to group_messages_path(group) do
				.side-contents__bottom__group
					%h3.group__name
						= group.name
					%p.group__message
						%p message
